@keyframes grow {
  0% {
    width: 0;
    height: 0;
    margin-top: 50vh;
    margin-left: 50%;
    opacity: 0;
  }
  100% {
    width: 80%;
    height: 80%;
    margin-top: 10vh;
    margin-left: 10%;
    opacity: 100;
  }
}
#settingsMenuhtml {
  background: rgba(0, 0, 0, 1);
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 80%;
  margin-top: 10vh;
  margin-left: 10%;
  border: 0.5vmin white solid;
  box-shadow: 0 0 30vmax 10vmax rgba(0, 0, 0, 1);
  animation-name: grow;
  animation-duration: 0.4s;
  border-radius: 5vmin;
  filter: url('#pixelate');
}

.title {
  width: 100%;
  height: 20vh;
  line-height: 20vh;
  color: white;
  font-size: 8vmin;
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
  user-select: none;
  filter: url('#pixelate');
}
.closeButton {
  position: absolute;
  top: calc(10vh - 5vmin);
  right: 5vmin;
  width: 10vmin;
  height: 10vmin;
  border: 0.5vmin white solid;
  background: black;
  outline: none;
  border-radius: 50%;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
  filter: url('#pixelate');
}
.title {
  width: 100%;
  height: 20vh;
  color: white;
  font-size: 5vmin;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  user-select: none;
  filter: url('#pixelate');
}
.optionList {
  margin-top: 5vh;
  display: grid;
  width: 100%;
  height: 40vh;
  align-items: space-between;
  justify-items: center;
  grid-auto-flow: row;
  grid-template-columns: 100%;
}
button.option {
  cursor: pointer;
  color: white;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  filter: url('#pixelate');
  width: 50vmin;
  height: 100%;
  outline: none;
  background: transparent;
  border: none;
  font-size: 3vmin;
  line-height: 6.3vmin;
}
button.option:hover {
  background: radial-gradient(
      farthest-corner at 50% 50%,
      rgba(160, 160, 160, 0.1) 55%,
      transparent 55%
    ),
    radial-gradient(
      farthest-corner at 50% 0px,
      rgba(119, 119, 119, 0.1) 100%,
      transparent 50%
    );
  font-size: 3.15vmin;
  text-shadow: 1px 1px 5vmin white;
  box-shadow: inset 0px 2px 0px white, inset 0px -2px 0px white;
  border-radius: 5vmin;
}
button.option:active {
  background: radial-gradient(
      farthest-corner at 50% 50%,
      rgba(160, 160, 160, 0.3) 55%,
      transparent 55%
    ),
    radial-gradient(
      farthest-corner at 50% 0px,
      rgba(119, 119, 119, 0.2) 100%,
      transparent 50%
    );
  transform: scale(1.1);
}
.closeButton:hover {
  background: rgba(255, 0, 0, 0.1);
  border: 0.5vmin rgb(231, 109, 109) solid;
  transform: scale(1.05);
}
.closeButton:active {
  transform: scale(0.9);
}
.sliderContainer {
  width: 30%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  align-content: center;
  justify-items: center;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: calc(100% - 2vmin);
  height: 1vmin;
  background: white;;
  z-index: 1;
  border-radius: 1vmin;
}
.slider::-moz-range-thumb {
  user-select: none;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 16%;
  height: 4vmin;
  border-radius: 1vmin;
  background: black;
  border: 0.5vmin white solid;
}
.slider::-webkit-slider-thumb {
  user-select: none;
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2.5vmin;
  height: 4.5vmin;
  background: white;
  border:black .75vmin solid;
  border-radius: 2vmin;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}
.sliderContainer> .range-text{
  color:white !important;
  font-size:2vmin;
  line-height:6vmin;
}
